################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebShoppingAPI/bin/Debug/net8.0
/.vs/WebShoppingAPI
